<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.liaohailong.dao.VideoInfoMapper">
	<insert id="insert"
		parameterType="org.liaohailong.entity.VideoInfo">
		INSERT INTO video_info(name,url,html,type_id,del)
		VALUES(#{name},#{url},#{html},#{type_id},#{del});
	</insert>

	<delete id="delete" parameterType="int">
		DELETE FROM video_info WHERE
		id=#{id};
	</delete>

	<update id="update"
		parameterType="org.liaohailong.entity.VideoInfo">
		UPDATE FROM video_info SET name=#{name},url=#{url},html=#{html},type_id=#{type_id},del=#{del}
		WHERE id=#{id}
	</update>

	<select id="select" parameterType="int"
		resultType="org.liaohailong.entity.VideoInfo">
		SELECT * FROM video_info WHERE id = #{id};
	</select>
	
	<select id="selectAll" resultType="org.liaohailong.entity.VideoInfo">
		SELECT * FROM video_info;
	</select>
</mapper>